<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= content_tag_for(:tr, @product) do %>
  <td><%= @product.name %></td>
<% end %>

<%= content_tag_for(:tr, @product, class: "frontpage") do %>
  <td><%= @product.name %></td>
<% end %>

<%= div_for(@product) do %>
  <td><%= @product.name %></td>
<% end %>

<!-- basic form helper form_tag -->
<%= form_tag do %>
  Form contents
<% end %>

<!-- A Generic Search Form -->
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<!-- Checkboxes -->
<%= check_box_tag(:pet_dog) %>
<%= label_tag(:pet_dog, "I own a dog") %>
<%= check_box_tag(:pet_cat) %>
<%= label_tag(:pet_cat, "I own a cat") %>
<br/>

<!-- Radio Buttons -->
<%= radio_button_tag(:age, "child") %>
<%= label_tag(:age_child, "I am younger than 21") %>
<%= radio_button_tag(:age, "adult") %>
<%= label_tag(:age_adult, "I'm over 21") %>
<br/>


<!-- Other Helpers of Interest -->
<%= text_area_tag(:message, "Hi, nice site", size: "24x6") %><br/>
<%= password_field_tag(:password) %><br/>
<%= hidden_field_tag(:parent_id, "5") %><br/>
<%= search_field(:user, :name) %><br/>
<%= telephone_field(:user, :phone) %><br/>
<%= date_field(:user, :born_on) %><br/>
<%= datetime_field(:user, :meeting_time) %><br/>
<%= datetime_local_field(:user, :graduation_day) %><br/>
<%= month_field(:user, :birthday_month) %><br/>
<%= week_field(:user, :birthday_week) %><br/>
<%= url_field(:user, :homepage) %><br/>
<%= email_field(:user, :address) %><br/>
<%= color_field(:user, :favorite_color) %><br/>
<%= time_field(:task, :started_at) %><br/>
<%= number_field(:product, :price, in: 1.0..20.0, step: 0.5) %><br/>

<!-- Binding a Form to an Object -->
<%= form_for @product, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :price %>
  <%= f.submit "Create" %>
<% end %><br/>

<!-- How do forms with PATCH work -->
<%= form_tag("/search", method: "patch") %>

<!-- The Select and Option Tags -->
<%= options_for_select([['Lisbon', 1], ['Madrid', 2]]) %>
<%= select_tag(:city_id, options_for_select([['Lisbon', 1], ['Madrid', 2]])) %><br/>

<%= select(:product, :name, [['Lisbon', 1], ['Madrid', 2]]) %><br/>

<!-- Option Tags from a Collection of Arbitrary Objects -->
<% products_array = Product.all.map { |product| [product.name, product.id] } %>
<%= options_for_select(products_array) %>

<!-- Time Zone and Country Selec -->
<%= time_zone_select(:person, :time_zone) %><br/>


<!-- Date and Time Form Helpers -->
<%= select_date Date.today, prefix: :start_date %><br/>

<!-- Individual Components -->
<%= select_year(2009) %>
<%= select_year(Time.now) %><br/>

<!-- Uploading Files -->
<%= form_tag(multipart: true) do %>
  <%= file_field_tag 'product' %>
<% end %>

<%= form_for @product do |f| %>
  <%= f.file_field :product %>
<% end %>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
